---
layout: default
---

<h1>{{ page.title }}</h1>

<div>
    <img src="{{ page.image }}" alt="Screenshot" style="max-width:100%; border:1px solid #444;">
</div>

<ul>
    <li><strong>Group(s):</strong> {{ page.group }}</li>
    <li><strong>Original Coder(s):</strong> {{ page.original_coder }}</li>
    <li><strong>Original Musician(s):</strong> {{ page.original_musician }}</li>
    <li><strong>Original Gfxer(s):</strong> {{ page.original_gfx }}</li>
    <li><strong>Release Date:</strong> {{ page.release_date }}</li>
    <li><strong>Remake Coder(s):</strong> {{ page.remake_coder }}</li>
    <li><strong>Remake Year:</strong> {{ page.remake_year }}</li>
    <li><strong>Original Platform:</strong> {{ page.platform }}</li>
    <li><strong>Download:</strong> <a href="{{ page.download_link }}">Click here</a></li>
</ul>

<hr>

{{ content }}
