---
layout: remake
title: {{ page.title }}
image: {{ page.image }}
group: {{ page.group }}
remake_coder: {{ page.remake_coder }}
original_coder: {{ page.original_coder }}
original_musician: {{ page.original_musician }}
original_gfx: {{ page.original_gfx }}
release_year: {{ page.release_year }}
remake_year: {{ page.remake_year }}
remake_rating: {{ page.remake_rating }}
platform: {{ page.platform }}
download_link: {{ page.download_link }}
---

## {{ page.title }}

![Screenshot]({{ page.image }})

**Group(s):** {{ page.group }}  
**Remake Coder(s):** {{ page.remake_coder }}  
**Original Coder(s):** {{ page.original_coder }}  
**Original Musician(s):** {{ page.original_musician }}  
**Original Gfxer(s):** {{ page.original_gfx }}  
**Release Year:** {{ page.release_year }}  
**Remake Year:** {{ page.remake_year }}  
**Remake Rating:** {{ page.remake_rating }}  
**Original Platform:** {{ page.platform }}  
**Download:** [Click here]({{ page.download_link }})

---

{{ content }}
